version: '3'
services:
  mysql-qmodel:
    image: mysql:8.0
    ports:
      - 3307:3306
    environment:
      - MYSQL_ROOT_PASSWORD=admin
      - MYSQL_DATABASE=qmodel_demo
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
      - MYSQL_MAX_ALLOWED_PACKET=1G
    command: --max-allowed-packet=200M
    volumes:
      - /Users/dpolishchuk/Downloads/mysql/data:/var/lib/mysql
    networks:
      - elk

#   qmodel:
#     build:
#       context: .
#       dockerfile: Dockerfile
#     ports:
#       - 8082:8082
#       - 4123:4123
#     depends_on:
#       - mysql
#     volumes:
#       - /Users/dpolishchuk/IdeaProjects/qmodel:/Users/dpolishchuk/IdeaProjects/qmodel
#     networks:
#       - elk

  grafana:
    image: grafana/grafana:latest
    ports:
      - 3001:3000
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - mysql-qmodel
    networks:
      - elk
    extra_hosts:
        - "host.docker.internal:host-gateway"

networks:
  elk: