version: '3'
services:
  mysql-qmodel:
    image: mysql:8.0
    ports:
      - 3307:3306
    environment:
      - MYSQL_ROOT_PASSWORD=admin
      - MYSQL_DATABASE=qmodel_demo
      - MYSQL_USER=admin
      - MYSQL_PASSWORD=admin
      - MYSQL_MAX_ALLOWED_PACKET=1G
    command: --max-allowed-packet=200M
    volumes:
      - /Users/dima/Downloads/mysql/data:/var/lib/mysql
    networks:
      - elk



  qmodel:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
      - "4123:4123"
    depends_on:
      - mysql-qmodel
      - grafana
    environment:
      - JAVA_TOOL_OPTIONS=-Xms30g -Xmx30g
    volumes:
      - /Users/dima/IdeaProjects/qmodel:/opt/qmodel
    networks:
      - elk

  grafana:
    image: grafana/grafana:latest
    ports:
      - 3001:3000
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - mysql-qmodel
    networks:
      - elk
    extra_hosts:
        - "host.docker.internal:host-gateway"

networks:
  elk: